{
  "trailingComma": "es5",
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "importOrder": ["^@/styles/(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
